*, *::after, *::before {
    box-sizing: border-box;
}

body {
    margin: 0;
    text-align: center;
    background: linear-gradient(to right, #b3ff00ac, #00e300);
    font-size: 18px;
}

.left-align {
    text-align: left;
  }
  
.right-align {
    text-align: right;
  }
  
.center-align {
    text-align: center;
  }

.fade-in {
    animation: fadeIn 5s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 100%;
    }
}

.wrapper {
    width: 80%;
    margin: 0 auto;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    background-color: rgb(219, 219, 121);
    border-radius: 0px 0px 20px 20px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);
    padding: 0rem 1rem 2rem;
}

.rps-buttons {
    display: flex;
    flex-flow: column nowrap;
    gap: 16px
}

.btn-card {
    background-color: red;
    height: 80px;
}