*, *::after, *::before {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.fade-in {
    animation: reveal 5s;
}

@keyframes reveal {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 100%;
    }
}