*, *::after, *::before {
    box-sizing: border-box;
}

body {
    margin: 0;
    text-align: center;
}

.left-align {
    text-align: left;
  }
  
.right-align {
    text-align: right;
  }
  
.center-align {
    text-align: center;
  }

.fade-in {
    animation: fadeIn 5s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 100%;
    }
}

.wrapper {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.rps-buttons {
    align-self: center;
}